{% load static %}
<footer class="footer">
  <div class="footer-content">
    <span class="footer-title">VERDULERIA LOS SAUCES</span>
    <div class="footer-contact">
      <p><i class="fas fa-map-marker-alt"></i> Dirección: Pje. El duro</p>
      <p><i class="fas fa-phone"></i> Contacto: +52 667563812</p>
      <p><i class="far fa-envelope"></i> Email: lossauses@gmail.com</p>
    </div>
    <div class="footer-bottom">
      <h4><strong>Ingrese su correo</strong></h4>
      <p>
        Introduce tu correo electrónico y te ofreceremos varios tipos de
        promociones.
      </p>
      <div class="footer-subscribe">
        <input type="email" placeholder="Ingrese su Email" />
        <button class="button-original">Suscribirse</button>
      </div>
    </div>
  </div>
</footer>
<script src="{% static 'src/code/code.js' %}"></script>
